<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <div class="well row form-color-style name-font">
      <h1>Meet the Medics</h1>
      <p class="about-font">Welcome to Meet the Medics community. Users will need to create their profile in order to be visible in this community.</p>
    </div>
    </div>
  <div class="col-md-8 col-md-offset-2">
    <ul class="list-unstyled">
      <% @users.each do |user| %>
        <% if user.profile %>
        <li>
          <div class="well row name-font <%= cycle('white-bg', 'form-color-style') %>">
            <div class="col-sm-4 text-center">
              <% if user.profile.picture %>
                <%= link_to user do %>
                  <%= image_tag user.profile.picture.url(:thumb), class: 'user-index-avatar' %>
                <% end %>
              <% end %>
            </div>
            <div>
              <%= link_to user do %>
                <h2><%= user.profile.first_name %> <%= user.profile.last_name  %></h2>
              <% end %>
              <p><%= user.profile.job_title %></p>
                <% if user.plan_id == 2 %>
                   <span class="label label-danger">PREMIUM</span>
                <% end %>
            </div>
          </div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>