<div class="jumbotron text-center name-font form-color-style">
  <h1>Meet The Medics</h1>
  <h3>A Platform where the Pharmaceutical and Biotech Industries as well as Universities can meet some intrested Physicians to share ideas looking to test or market medicines.</h3>
</div>
<div class="row name-font">
  <% if user_signed_in? %>
    <div class="col-md-6">
      <div class="well form-color-style">
        <h2 class="text-center">Your Profile</h2>
        <% if current_user.profile %>
          <%= link_to "Edit your profile", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-primary btn-lg btn-block' %>
          <%= link_to "View your profile", user_path(current_user), class: 'btn btn-success btn-lg btn-block' %>
        <% else %>
          <p>Create your profile so that you can share your information with the community.</p>
          <%= link_to "Create your profile", new_user_profile_path(current_user), class: 'btn btn-primary btn-lg btn-block' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well form-color-style">
        <h2 class="text-center">The Community</h2>
        <p>Visit the community to meet other Physicians, Brand Teams and R & D Specialists.</p>
        <%= link_to "Visit the community", users_path, class: 'btn btn-default-orange btn-lg btn-block', id: 'orange' %>
      </div>
    </div>
  <% else %>
    <div class="col-md-6">
      <div class="well form-color-style">
        <h2 class="text-center">Free Membership</h2>
        <h4>Create a free account with us for entry level access to view the community.</h4>
        <br/>
        <%= link_to "Sign up for a free membership", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well form-color-style">
        <h2 class="text-center">Premium Membership</h2>
        <h4>For just £7/month and gain full access to the community and see all contact information</h4>
        <br />
        <%= link_to "Sign up for a premium membership", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
  <% end %>
</div>